body{
  
}
canvas {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
    width: 50%;
    height: 50%;
    display: block;
    border: none;
   background-color: rgb(201, 201, 201);
  }
  